@import 'partials/functions';
@import 'partials/variables';
@import 'partials/globals';
@import 'partials/mixins';




#experience {
  .container {

    h5 {
      border-bottom: 2px solid $theme-color;
      margin: 0 em(50px);
    }
    p {
      margin: 0 em(50px);
    }
  }
}

#photos {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap:   0px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           0px;

  img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

}

#about {
  height: 250%;
  background-color: $background-color;
  .container {
    .row {
      .box {
        padding-top: 20px;
        .white {
          padding: 4%;
        }
      }
    }
  }
}

input[type=text], input[type=email] {
  border: 1px solid #000;
  border-radius: 0;
  width: 100% ;
  height: 100%;
  padding: 1.5% 0;
}

input[type=submit] {
  border:none;
  padding: 2.5% 0;
  width: 20%;
  margin-left: 40%;
  margin-bottom: 10%;
  color: $white-color;
  background-color: $ternary-color;
}

textarea {
  border: 1px solid #000;
  border-radius: 0;
  width: 100% ;
  height: auto !important;
}

footer {
  border-top: 2px solid #000;

    p {
      margin-top: -10%;

    }

    svg {
      padding: 0;
      margin: 0;

      #dribble {

      }

      #instagram {
        margin:0;
      }
    }


    img {
      height: 26px;
      width: 26px;
    }


}

#video {
  top: -5%;
}

#thirdParallax {
    margin-top: -5px;
}
